<div class="homeContainer categoryContainer" id="homePage">
  <a class="pageATag" href="/">
    <h1 class="homeTitle distractionTitle">[distractionScapes]</h1>
  </a>
  <div class="headerContainer homeHeaderContainer categoryHeader">
    <p class="defaultPageHeader homeHeader">curated <span class="red first">[</span>distractionScapes<span class="red">]</span></p>
  </div>
</div>
