<%# image_tag("lake.jpg", class: "backgroundImage") %>
<%= video_tag("lake.mp4", class: "backgroundImage",autoplay: :autoplay,
loop: :loop, muted: true) %>
<div class="titleContainer">
  <h1 class="pageTitle">sleepScapes.</h1>
</div>
