<h4>a very hidden admin page lol</h4>
<% if current_user.admin? %>
<p>your already admin</p>
<% else %>
<%= form_with(url: secret_admin_path) do |form| %>
<%= form.hidden_field :id, value: current_user.id %>
<%= form.submit %>
<% end %>
<% end %>
