<% if @sleepscape.sleepscape_video.attached? %>
  <%= video_tag(url_for(@sleepscape.sleepscape_video), class: "backgroundImage sleepscapeBackground",autoplay: :autoplay,
loop: :loop, muted: true) %>
<% else %>
  <h5>i dont have a video</h5>
<% end %>
<div class="sleepScapeContainer">
  <div class="bottomFooter">
    <div class="pageInfo">
      <h1 class="sleepscapeTitle">
        <%= @sleepscape.title %> - <%= @sleepscape.recorded_at %>
      </h1>
    </div>
    <div class="footerBtn">
      info
    </div>
    <div class="footerBtn">
      comments
    </div>
    <div class="footerBtn">
      like
    </div>
  </div>
</div>
</div>
<%# old stuff hiding behind lol %>
