<div class="homeContainer categoryContainer" id="homePage">
  <a class="pageATag" href="/">
    <h1 class="homeTitle sleepTitle">[sleepScapes]</h1>
  </a>
  <div class="headerContainer homeHeaderContainer categoryHeader">
    <p class="defaultPageHeader homeHeader">curated <span class="purple first">[</span>sleepScapes<span class="purple">]</span></p>
  </div>
</div>
