<div class="homeContainer categoryContainer" id="homePage">
  <a class="pageATag" href="/">
    <h1 class="homeTitle studyTitle">[studyScapes]</h1>
  </a>
  <div class="headerContainer homeHeaderContainer categoryHeader">
    <p class="defaultPageHeader homeHeader">curated <span class="green first">[</span>studyScapes<span class="green">]</span></p>
  </div>
</div>
