* {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100;200;300;400;500;600;700;800;900&display=swap");

$darkBackground: rgb(18, 18, 18);
$lighterDarkBackground: rgb(44, 44, 44);
$blueAccent: #40aef2;
$lighterBlueAccent: rgb(215, 240, 255);
$blueAccentFILTER: invert(57%) sepia(66%) saturate(1074%) hue-rotate(175deg)
  brightness(88%) contrast(92%) opacity(80%);
$sleepPurple: rgb(41, 14, 52);
$studyGreen: rgb(52, 98, 51);
$distractionRed: rgb(134, 61, 61);

body {
  font-family: "Alexandria", sans-serif;
  height: 100vh;
  width: 100%;
  display: flex;
  background-color: $darkBackground;
  color: white;
}

header,
main {
  transition: width 0.3s;
}

header {
  z-index: 5;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  background-color: rgb(34, 34, 34);
  // background-color: gold;
  width: 30%;
  height: 100%;
  overflow-x: scroll;

  .accountContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    // background-color: purple;
    gap: 5px;

    .accountPicture {
      width: 90px;
      height: 90px;
      border-radius: 15px;
      background-color: gray;

      .headerPic {
        width: 100%;
        height: 100%;
        border-radius: 15px;
      }
    }

    a {
      font-weight: 500;
      color: gray;

      &:hover {
        color: white;
      }
    }

    p {
      font-size: 0.9rem;
      letter-spacing: 1px;
      font-weight: 300;
      text-align: center;
    }
  }

  a {
    text-decoration: none;
    color: white;
    .headerBtn {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 45px;
      border: solid rgba(250, 250, 250, 0.138) 0.4px;
      border-top: 0;
      border-left: 0;
      border-right: 0;
      font-weight: 300;

      p {
        opacity: 30%;
      }

      &:hover {
        background-color: rgb(44, 44, 44);
        p {
          opacity: 100%;
        }
      }
    }
  }

  .headerForms {
    // background-color: red;
    margin-top: 20px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;

    h2 {
      font-size: 1.3rem;
      margin-bottom: 7px;
    }

    label {
      font-size: 1.1rem;
    }

    input {
      padding: 0;
      width: 100%;
      height: 26px;
      margin: 0;
      font-size: 1.1rem;
      border-radius: 4px;
      background-color: white;
      border: solid black 1px;
      &:after {
        font-size: 2rem;
      }
    }

    .submitBtn {
      cursor: pointer;
      margin-top: 5px;
      font-size: 0.8rem;
      background-color: rgb(73, 193, 73);
      color: rgb(255, 255, 255);
      font-size: 1rem;
      height: 29px;

      &:hover {
        background-color: rgb(48, 151, 48);
        color: rgb(166, 166, 166);
      }
    }

    span {
      font-size: 0.8rem;
      opacity: 70%;

      &:hover {
        opacity: 100%;
      }
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  top: 0;
  background-color: gray;
  width: 70%;
  height: 100%;

  .menuButton {
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 30%;
    transition: margin-left 0.3s;
    z-index: 5;
    margin-top: 10px;
    cursor: pointer;
    width: 30px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 7px 7px 0px;
    background-color: rgba(43, 43, 43, 0.71);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.356);

    .menuIcon {
      position: absolute;
      width: 20px;
      filter: invert(100%) opacity(60%);
    }

    .arrowIcon {
      z-index: 3;
      rotate: -90deg;
      filter: $blueAccentFILTER;
      width: 30px;
      margin-left: -2px;
    }

    .left {
      rotate: -90deg;
    }
    .right {
      rotate: 90deg;
    }
  }

  .moveBtnLeft {
    animation: moveMenuBtnLeft 0.6s;
  }
  .moveBtnRight {
    animation: moveMenuBtnRight 0.6s;
  }

  .moveBtnZero {
    margin-left: 0%;
  }
  .moveBtnStats {
    margin-left: 30%;
  }

  @keyframes moveMenuBtnLeft {
    0% {
      margin-left: 30%;
    }
    100% {
      margin-left: 0%;
    }
  }
  @keyframes moveMenuBtnRight {
    0% {
      margin-left: 0%;
    }
    100% {
      margin-left: 30%;
    }
  }

  .rightAnimation {
    animation: rotateArrowRight 0.4s;
  }
  .leftAnimation {
    animation: rotateArrowLeft 0.4s;
  }

  @keyframes rotateArrowRight {
    0% {
      rotate: -90deg;
    }

    100% {
      rotate: 90deg;
    }
  }
  @keyframes rotateArrowLeft {
    0% {
      rotate: 90deg;
    }

    100% {
      rotate: -90deg;
    }
  }

  ////////////////////////WHERE THE YEILD GOES (basically body)
  .sleepContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: rgb(31, 31, 31);
    overflow-y: scroll;
    overflow-x: hidden;

    .backgroundImage {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    video::-webkit-media-controls {
      display: none !important;
    }
    x video::-webkit-media-controls-overlay-play-button {
      display: none;
    }

    .signUpPage {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;
      margin-top: 200px;

      .headerForms {
        // background-color: red;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 5px;

        h2 {
          font-size: 1.3rem;
          margin-bottom: 7px;
        }

        label {
          font-size: 1.1rem;
        }

        input {
          padding: 0;
          width: 100%;
          height: 26px;
          margin: 0;
          font-size: 1.1rem;
          border-radius: 4px;
          background-color: white;
          border: solid black 1px;
          &:after {
            font-size: 2rem;
          }
        }

        .submitBtn {
          cursor: pointer;
          margin-top: 5px;
          font-size: 0.8rem;
          background-color: rgb(73, 193, 73);
          color: rgb(255, 255, 255);
          font-size: 1rem;
          height: 29px;

          &:hover {
            background-color: rgb(48, 151, 48);
            color: rgb(166, 166, 166);
          }
        }

        span {
          font-size: 0.8rem;
          opacity: 70%;

          &:hover {
            opacity: 100%;
          }
        }
      }
    }

    .titleContainer {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(175, 199, 201, 0.415);
      backdrop-filter: blur(15px);
      -webkit-backdrop-filter: blur(15px);
      z-index: 2;
      height: 100%;
      // animation: titleBarGrow 0.5s ease-in-out;
      width: 100%;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4%);
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;

      .animatedTitleContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: -50px;

        .pageTitle {
          text-align: center;
          cursor: default;
          font-size: 2.4rem;
          margin-left: 2px;
          font-weight: 500;
          letter-spacing: 2px;
          // text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.4%);
          transition: font-weight 0.2s, filter 2s;
          color: $blueAccent;
        }

        .firstWordContainer {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          // background-color: red;
          overflow-y: hidden;
          min-height: 32px;
          max-height: 32px;
          // background-color: blue;
          min-width: 130px;
          max-width: 130px;
          margin-right: -2px;
          margin-top: 1px;
          margin-left: -2px;

          .animationContainer {
            margin-top: 325px;
            display: flex;
            gap: 0px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .firstWord {
              // margin-bottom: 50px;
              margin: 0;
            }
          }

          .scrollAnimation {
            animation: titleScroll 1.7s ease-in;
          }

          @keyframes titleScroll {
            0% {
              translate: 0px 0px;
              // margin-top: 325px;
            }
            92% {
              // margin-top: -339px;
              translate: 0px -332px;
            }

            100% {
              // margin-top: -327px;
              translate: 0px -327px;
            }
          }
        }
      }

      .subTitle {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 200;
        letter-spacing: 2px;
        min-width: 250px;
        position: absolute;
        font-size: 0.9rem;
        margin-top: 20px;
        margin-left: 130px;
        filter: blur(0.2px);
        color: $lighterBlueAccent;
      }
    }

    .homeContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;
      width: 100%;
      height: 100%;
      overflow-y: scroll;
      overflow-x: hidden;

      .pageATag {
        text-decoration: none;
        color: $blueAccent;
        .homeTitle {
          letter-spacing: 2px;

          cursor: pointer;
          margin-top: 30px;
          font-size: 1.6rem;
          font-weight: 500;
        }
      }

      .recentUserContainers {
        width: 100%;
        height: 200px;
        min-height: 150px;
        // background-color: blue;
        display: flex;
        gap: 3px;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        margin-bottom: 30px;
        a {
          width: 100%;
          min-width: 100%;
          height: 100%;
          scroll-snap-align: center;

          .userBox {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            min-width: 100%;
            height: 100%;

            .accountCover {
              position: relative;
              display: flex;
              gap: 2px;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              width: 95%;
              max-width: 750px;
              height: 95%;
              // background-color: rgb(18, 18, 18);
              border-radius: 3px;

              .timeText {
                position: absolute;
                right: 0;
                bottom: 0;
                font-size: 0.8rem;
                margin-right: 25px;
                margin-bottom: 7px;
                color: white;
                opacity: 100%;
                z-index: 3;
                opacity: 40%;
              }

              .backgroundImg {
                z-index: 1;
                position: absolute;
                height: 90%;
                width: 96%;
                opacity: 60%;
                filter: blur(4px);
                object-fit: cover;
                object-position: center;
              }

              .userPicture {
                z-index: 2;
                width: 100px;
                height: 100px;
                border-radius: 5px;
              }
              .userName {
                z-index: 2;
                font-weight: 300;
                letter-spacing: 1px;
                color: white;
              }
            }
          }
        }
      }

      .recommendContainer {
        margin-top: 20px;
        position: relative;
        width: 100%;
        height: 300px;
        min-height: 300px;
        max-height: 300px;
        margin-bottom: -10px;

        .recommendPic {
          pointer-events: none;
          z-index: 2;
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }

        .recomendInfoContainer {
          position: relative;
          z-index: 3;
          width: 100%;
          height: 100%;
          // background-color: rgba(116, 116, 116, 0.786);
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: end;

          .bottomBox {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 60px;
            background-color: rgba(0, 0, 0, 0.127);
            backdrop-filter: blur(4px);
            -webkit-backdrop-filter: blur(4px);
            border-radius: 10px 10px 0px 0px;
            max-width: 750px;
            display: flex;
            align-items: start;
            justify-content: start;
            padding-left: 15px;

            .bottomHeader {
              letter-spacing: 1px;
              position: absolute;
              font-size: 1.3rem;
              font-weight: 800;
              margin-top: -25px;
            }
            .info {
              margin-top: 4px;
              display: flex;
              flex-direction: column;
              p {
                font-size: 1rem;
                font-weight: 300;
                letter-spacing: 1px;
              }
              .infoTitle {
                font-size: 1.1rem;
                margin-top: 5px;
                font-weight: 500;
              }
            }
          }
        }
      }

      .homeHeaderContainer {
        margin-top: 40px;

        .first {
          margin-left: -5px;
        }
        .blue {
          color: $blueAccent;
        }

        .homeHeader {
          font-size: 1.2rem;
          margin-bottom: 5px;
        }
      }

      .adminLikesContainer {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 100%;
      }

      .recentPostsContainer {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 100%;
      }

      .categorysContainer {
        width: 100%;

        .categoryBox {
          overflow-x: hidden;
          width: 95%;
          max-width: 750px;
          background-color: blue;
          height: 80px;
          min-height: 80px;
          margin-bottom: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: scale 0.3s;
          position: relative;
          overflow-y: hidden;

          .mainText {
            z-index: 2;
            font-size: 1.8rem;
            font-weight: 400;
            letter-spacing: 1px;
          }

          .categoryIcon {
            opacity: 20%;
            position: absolute;
            width: 100px;
          }
          .sleep {
            margin-bottom: -10px;
          }
          .headphones {
            width: 90px;
          }

          &:hover {
            scale: 105%;
          }
        }

        .sleep {
          background-color: $sleepPurple;
          .mainText {
            color: rgb(181, 151, 181);
          }
        }

        .study {
          background-color: $studyGreen;
          .mainText {
            color: rgb(138, 183, 138);
          }
        }

        .distraction {
          background-color: $distractionRed;
          .mainText {
            color: rgb(206, 138, 138);
          }
        }
      }

      .adminsChoiceContainer {
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: start;
        width: 100%;
        height: 500px;
        min-height: 300px;
        background-color: rgb(79, 79, 79);
        margin-top: 30px;

        .imageContainer {
          z-index: 1;
          position: absolute;
          // background-color: blue;
          width: 100%;
          height: 100%;
          background-position: center;
          background-size: cover;
        }
        .adminTitle {
          position: absolute;
          z-index: 2;
          font-size: 1.4rem;
          margin-left: 14px;
          margin-top: 10px;
        }
        .recommendedInfo {
          position: absolute;
          bottom: 0;
          z-index: 2;
          margin-left: 10px;
          margin-bottom: 5px;
          .infoTitle {
            font-weight: 600;
            font-size: 1.5rem;
          }
          .infoPoster {
            font-size: 1rem;
          }
        }
      }

      .adminSoundsBox {
        display: flex;
        flex-direction: column;
        gap: 3px;
        margin-top: 50px;
        width: 100%;
        height: 300px;
        min-height: 300px;

        .defaultHeader {
          font-weight: 400;
          padding-left: 5px;
        }
        .scapesHolder {
          width: 100%;
          // height: 100%;
          border: solid white 1px;
          border-left: 0;
          border-right: 0;
          display: flex;
          flex-direction: column;

          .sleepScapes {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 100%;
            height: 60px;
            transition: height 0.2s ease-out;

            .background {
              position: absolute;
              width: 100%;
              height: 100%;
              filter: blur(3px);
              z-index: 1;
              // background-attachment: fixed;
              background-position: right;
              background-size: cover;
            }

            .sleepScapeInfo {
              display: flex;

              align-items: center;
              justify-content: start;
              z-index: 2;
              width: 100%;
              height: 100%;
              transition: width 0.6s;
              .scapeTitle {
                padding: 5px;
                border-radius: 3px;
                margin-left: 5%;
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: center;
                height: 40px;
                width: auto;
                min-width: 220px;
                background-color: rgba(0, 0, 0, 0.3%);
                backdrop-filter: blur(4px);
                -webkit-backdrop-filter: blur(4px);
                transition: width 0.6s;

                p {
                  font-size: 1.3rem;
                  font-weight: 700;
                }
                .subText {
                  font-size: 0.7rem;
                  font-weight: 400;
                  opacity: 80%;
                }
              }
              // background-color: green;
            }

            &:hover {
              height: 90px;
              .background {
                filter: blur(2px);
              }
              .scapeTitle {
                width: 270px;
              }
            }
          }
        }
      }
    }

    .categoryContainer {
      .categoryATag {
        // background-color: green;
        position: relative;
      }

      .sleepTitle {
        position: relative;
        color: $sleepPurple;
        filter: brightness(200%);
      }

      .studyTitle {
        color: $studyGreen;
      }

      .distractionTitle {
        color: $distractionRed;
      }

      .categoryHeader {
        .red {
          color: $distractionRed;
        }
        .purple {
          color: $sleepPurple;
          filter: brightness(200%);
        }
        .green {
          color: $studyGreen;
        }
      }
    }

    .allUsersContainer {
      // background-color: red;
      .allUsersGrid {
        margin-left: 12px;
        width: 100%;
        // height: 30px;
        // background-color: red;
        display: flex;
        flex-wrap: wrap;
        align-items: start;
        justify-content: start;
        gap: 5px;
        max-width: 750px;
        a {
          $hw: 120px;
          flex: 1;
          height: $hw;
          width: $hw;
          min-height: $hw;
          max-height: $hw;
          max-width: $hw;
          min-width: $hw;

          .gridItem {
            z-index: 2;
            height: $hw;
            width: $hw;
            min-height: $hw;
            max-height: $hw;
            max-width: $hw;
            min-width: $hw;
            background-color: rgb(223, 223, 223);
            border-radius: 2px;
            transition: scale 0.3s, box-shadow 0.2s;
            color: black;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 5px;

            .userImage {
              width: 70%;
              height: 70%;
              border-radius: 3px;
              transition: scale 0.5s;

              .image {
                width: 100%;
                height: 100%;
                border-radius: inherit;
              }
            }

            .userName {
              font-size: 0.8rem;
              font-weight: 600;
              letter-spacing: 1px;
            }

            &:hover {
              // background-color: blue;
              z-index: 4;
              scale: 105%;
              box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);

              .userImage {
                scale: 105%;
              }
            }
          }
        }
      }
    }

    .usersPage {
      align-items: start;
      width: 100%;
      height: 100%;

      .userHeader {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 220px;
        background-color: rgb(113, 113, 113);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        .left,
        .right {
          width: 20%;
          height: 100%;
          // background-color: rgba(0, 0, 0, 0.349);
        }

        .left {
          position: relative;

          input[type="submit"] {
            border-radius: 3px;
          }

          .userBtns {
            cursor: pointer;
            position: absolute;
            bottom: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: gray;
            margin-right: -20px;
            margin-bottom: 10px;
            width: 100%;
            max-width: 200px;
            height: 35px;
            gap: 2px;
            border-radius: 3px;
            z-index: 8;
          }

          .editUserBtn {
            background-color: rgba(53, 199, 53, 80%);
            .editIcon {
              filter: invert(100%);
              width: 20px;
              margin-bottom: 4px;
            }

            p {
              font-size: 0.8rem;
            }

            &:hover {
              filter: brightness(80%);
            }
          }

          .followBtns {
            font-family: "Alexandria", sans-serif;
            position: absolute;
            right: 0;
            font-size: 0.6rem;
            letter-spacing: 1px;
            font-weight: 600;
            color: rgb(231, 231, 231);
            border: none;
            background-color: rgb(76, 112, 126);

            &:hover {
              filter: brightness(80%);
            }
          }

          .followingBtn {
            color: white;
            background-color: $blueAccent;
          }

          .signInButton {
            background-color: $blueAccent;
            font-size: 0.5rem;
            text-align: center;

            &:hover {
              filter: brightness(80%);
            }
          }
        }

        .middle {
          position: relative;
          width: 60%;
          height: 100%;
          // background-color: purple;
          display: flex;
          align-items: center;
          justify-content: center;

          .userPicture {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 130px;
            height: 130px;
            border-radius: 50%;
            border: 3px rgba(56, 56, 56, 0.279) solid;
            .userPic {
              width: 100%;
              height: 100%;
              border-radius: 50%;
            }
          }

          .userName {
            // background-color: red;
            position: absolute;
            bottom: 0;
            margin-bottom: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px;
            .nameText {
              font-size: 1.4rem;
              font-weight: 900;
            }

            .verfiedIcon {
              pointer-events: none;
              width: 30px;
              filter: $blueAccentFILTER brightness(130%);
            }
          }
        }

        .right {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 20px;

          a {
            width: 80%;
            height: 30%;
            max-width: 100px;
            // background-color: red;

            .followersBox {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              height: 100%;
              width: 100%;
              background-color: rgba(28, 28, 28, 0.8%);
              backdrop-filter: blur(4px);
              -webkit-backdrop-filter: blur(4px);
              border: solid 1px rgb(37, 37, 37);
              border-radius: 6px;
              padding: 2px;
              .followCount {
                margin-top: -5px;
                font-size: 1.8rem;
              }
              .followTitle {
                margin-top: -5px;
                font-size: 0.6rem;
                opacity: 80%;
              }

              &:hover {
                background-color: rgba(255, 255, 255, 0.8%);
                color: black;
              }
            }
          }
        }
      }

      .bodyContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 100%;
        margin-top: 20px;
      }

      .sleepScapes {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        height: 60px;
        transition: height 0.2s ease-out;

        .background {
          background-color: rgb(74, 74, 74);
          // background-image: url("lake.jpg");
          position: absolute;
          width: 100%;
          height: 100%;
          filter: blur(3px);
          z-index: 1;
          background-attachment: fixed;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          transition: background-position 2s;
        }

        .sleepScapeInfo {
          display: flex;

          align-items: center;
          justify-content: start;
          z-index: 2;
          width: 100%;
          height: 100%;
          transition: width 0.6s;
          .scapeTitle {
            padding: 5px;
            border-radius: 3px;
            margin-left: 5%;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            height: 40px;
            width: auto;
            min-width: 220px;
            background-color: rgba(0, 0, 0, 0.3%);
            backdrop-filter: blur(4px);
            -webkit-backdrop-filter: blur(4px);
            transition: width 0.6s;

            p {
              font-size: 1.3rem;
              font-weight: 700;
            }
            .subText {
              font-size: 0.7rem;
              font-weight: 400;
              opacity: 80%;
            }
          }
          // background-color: green;
        }

        &:hover {
          height: 90px;
          .background {
            filter: blur(2px);
          }
          .scapeTitle {
            width: 270px;
          }
        }
      }
    }

    .headerContainer {
      position: relative;
      width: 100%;
      height: 40px;
      // background-color: red;
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 750px;
      padding-left: 20px;

      .defaultPageHeader {
        font-size: 1.2rem;
        font-weight: 600;
        letter-spacing: 1px;
        margin-top: 10px;
        margin-bottom: 5px;
      }

      .viewAll {
        width: 80px;
        // background-color: blue;
        position: absolute;
        right: 0;
        margin-right: 10px;
        bottom: 0;
        margin-bottom: 6px;

        p {
          cursor: pointer;
          font-weight: 600;
          font-size: 0.8rem;
          text-decoration: underline;
        }

        &:hover {
          p {
            text-decoration: none;
          }
        }
      }
    }

    //////////////////SLEEPSCAPE COVER STYLES
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: white;
      width: 100%;

      .soundScapeContainer {
        position: relative;
        width: 95%;
        height: 90px;
        min-height: 90px;
        // border: solid 3px rgb(233, 233, 233);
        border-radius: 2px;
        max-width: 750px;
        background-color: $blueAccent;
        transition: scale 0.2s, box-shadow 0.2s;

        .loadingBackground {
          background-color: $blueAccent;
          position: absolute;
          z-index: 1;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          .sleep {
            color: rgb(171, 201, 238);
          }
          h1 {
            color: rgb(143, 183, 231);
            font-size: 1.4rem;
            margin-bottom: 10px;
          }
        }

        .soundScapeImg {
          pointer-events: none;
          z-index: 2;
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }

        .infoContainer {
          position: relative;
          z-index: 3;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;

          .top,
          .bottom {
            width: 100%;
            display: flex;
            align-items: center;
          }

          .top {
            justify-content: space-between;
            height: 25px;

            .left {
              display: flex;
              align-items: center;
              justify-content: start;
              padding-left: 10px;
              height: 100%;
              width: 150px;
              // background-color: purple;

              .timeText {
                font-size: 0.8rem;
                font-weight: 300;
                letter-spacing: 1px;
                text-shadow: 0px 2px 3px black;
              }
            }

            .right {
              position: relative;
              display: flex;
              align-items: center;
              justify-content: center;
              height: 100%;
              width: 60px;
              // background-color: green;
              gap: 1px;

              .comments,
              .likes {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                width: 49%;

                .soundscapeIcon {
                  z-index: 1;
                  position: absolute;
                  width: 20px;
                }

                .comments {
                  filter: invert(100%);
                  margin-top: 1px;
                }
              }
            }

            .likes {
              .likeText {
                font-size: 0.6rem;
                z-index: 2;
                margin-bottom: 1px;
                font-weight: 400;
              }
            }

            .comments {
              .commentText {
                font-size: 0.6rem;
                font-weight: 400;
                margin-bottom: 3px;
                margin-left: 1px;
              }
            }
          }

          .bottom {
            position: relative;
            height: 40px;
            display: flex;
            background-color: rgba(29, 29, 29, 0.007);
            backdrop-filter: blur(2px);
            -webkit-backdrop-filter: blur(2px);
            justify-content: start;
            align-items: center;
            .left {
              // background-color: red;
              padding-left: 10px;
              display: flex;
              flex-direction: column;
              align-items: start;
              justify-content: center;
              // background-color: red;
              width: 75%;
              height: 100%;

              .soundScapeTitle {
                font-size: 0.9rem;
                font-weight: 700;
              }

              .locationContainer {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;

                .soundScapeLocation {
                  font-weight: 300;
                  font-size: 0.8rem;
                  letter-spacing: 1px;
                }

                .locationIcon {
                  filter: invert(100%);
                  width: 12px;
                }
              }
            }
            .right {
              position: absolute;
              right: 0;
              width: 100px;
              height: 90%;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: end;
              -webkit-justify-content: flex-end;
              -webkit-align-items: center;
              // padding-right: 2px;
              padding-right: 3px;
              gap: 3px;

              .categoryBox {
                width: 30px;
                height: 30px;
                min-width: 30px;
                min-height: 30px;
                background-color: rgb(39, 39, 39);
                border-radius: 4px;
                opacity: 80%;
                display: flex;
                align-items: center;
                justify-content: center;

                .categoryicon {
                  width: 70%;
                  opacity: 60%;
                }
              }

              .sleepBox {
                background-color: $sleepPurple;
              }
              .distractBox {
                background-color: $distractionRed;
              }
              .studyBox {
                background-color: $studyGreen;
              }
            }
          }
        }

        &:hover {
          scale: 105%;
          outline: none;
          box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.115);
        }
      }
    }

    .followingFollowerPage {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow-y: scroll;
      gap: 8px;

      a {
        width: 60%;
        height: 200px;
        min-height: 200px;
        color: white;
        text-decoration: none;
        .userCard {
          min-width: 200px;
          cursor: pointer;
          border-radius: 5px;
          height: 200px;
          min-height: 200px;
          // background-color: red;
          background-position: center;
          background-size: cover;

          .top {
            width: 100%;
            height: 80%;
            display: flex;
            align-items: center;
            justify-content: center;
            // background-color: purple;

            .profilePic {
              width: 95px;
              height: 95px;
              border-radius: 12px;
              transition: width 0.3s, height 0.3s, box-shadow 0.4s;
              // background-color: rgb(60, 60, 60);

              .userPic {
                width: 100%;
                height: 100%;
                border-radius: 12px;
              }
            }
          }
          .bottom {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 20%;
            background-color: rgba(0, 0, 0, 0.6%);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);

            .userName {
              text-align: center;
              letter-spacing: 1px;
              font-size: 1.2rem;
            }
          }

          &:hover {
            .top {
              .profilePic {
                width: 100px;
                height: 100px;
                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4%);
              }
            }

            .bottom {
              filter: invert(100%);
            }
          }
        }
      }
    }

    .sleepscapeBackground {
      z-index: 4;
    }

    .loadingContainer {
      position: absolute;
      margin-top: -40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 70%;
      max-width: 400px;
      height: 10px;
      // background-color: blue;
      position: absolute;
      z-index: 2;

      .loadingGif {
        width: 100%;
        filter: blur(4px) $blueAccentFILTER;
      }
      .loadingText {
        color: $blueAccent;
        font-size: 1.5rem;
        font-weight: 800;
        opacity: 70%;
        filter: blur(0.9px);
      }
    }

    .sleepScapeContainer {
      touch-action: manipulation;
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: 4;

      .clickBox {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 5;
        // background-color: green;
      }

      .audioContainer {
        position: absolute;
        right: 0;
        opacity: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        margin-top: 50px;
        z-index: 6;
        width: 80px;
        height: 170px;
        background-color: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border-radius: 15px 0px 0px 15px;
        transition: opacity 0.2s;
        // background-color: green;

        .btnsColumn {
          height: 100%;
          width: 50px;
          // background-color: blue;
          display: flex;
          align-items: center;
          justify-content: center;

          .playBtn,
          .pauseBtn {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 0.5rem;
            display: flex;
            width: 35px;
            height: 35px;
            min-width: 35px;
            min-height: 35px;
            background-color: rgb(67, 67, 67);
            border-radius: 20px;
            margin-right: 20px;

            .playIcon {
              width: 20px;
              margin-left: 2px;
              filter: brightness(20%);
            }
            .pauseIcon {
              width: 20px;
              margin-left: 0px;
            }
          }

          .mobilePlay {
            // background-color: green;
            margin-right: -5px;
            width: 50px;
            height: 50px;
            min-width: 50px;
            min-height: 50px;
            border-radius: 50%;
          }

          .pauseBtn {
            display: none;
          }
        }

        input[type="range"] {
          position: absolute;
          left: 0;
          rotate: -90deg;
        }

        &:hover,
        &:active {
          opacity: 100%;
        }
      }

      .bottomFooter {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        bottom: 0;
        width: 100%;
        // height: 160px;
        background-color: rgba(0, 0, 0, 0.5%);
        backdrop-filter: blur(6px);
        -webkit-backdrop-filter: blur(6px);
        opacity: 10%;
        animation: slowlyFadeOut 5s;
        transition: opacity 0.7s;
        z-index: 6;

        .topBar {
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          width: 100%;
          height: 60px;

          .pageInfo {
            position: absolute;
            left: 0;
            top: 0;
            margin-top: -16px;
            display: flex;
            align-items: center;
            justify-content: center;
            .sleepscapeTitle {
              font-size: 1rem;
            }
          }

          .footerBtn {
            position: relative;
            cursor: pointer;
            height: 40px;
            width: 40px;
            border: 2px solid white;
            border-radius: 7px;
            font-size: 0.4rem;
            display: flex;
            align-items: center;
            justify-content: center;

            .menuSvg {
              width: 70%;
              filter: invert(100%);
            }

            .centerNum {
              position: absolute;
            }

            .commentsNum {
              font-size: 0.6rem;
              margin-bottom: 3px;
              margin-left: 1px;
              -webkit-margin-before: -2px;
              -webkit-margin-start: 0px;
            }
            &:hover {
              background-color: white;
              color: black;

              border-color: black;

              .menuSvg {
                filter: invert(0%);
              }
            }
          }

          .imageCont {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            // background-color: purple;
            .formBtn {
              filter: brightness(500%);
              transition: filter 0.2s;
              background-color: transparent;
              color: white;
              border: none;

              &:hover {
                filter: brightness(350%);
                background-color: transparent;
              }
            }

            p {
              pointer-events: none;
              margin-top: -2px;
              font-size: 1rem;
              color: black;
              opacity: 50%;
              position: absolute;
            }

            .likedBtn {
              // background-color: rgb(232, 126, 126);
              filter: brightness(100%);
              &:hover {
                filter: brightness(80%);
              }
            }
          }
        }

        .bottomContainer {
          display: none;
          width: 100%;
          height: 250px;
          // background-color: blue;
          overflow-y: scroll;

          #infoContainer {
            display: flex;
            align-items: start;
            justify-content: start;
            flex-direction: column;
            padding-left: 5px;
            width: 100%;
            .infoTitle {
              margin-top: 20px;
              font-size: 1.4rem;
            }
            .infoLocation {
              font-size: 1rem;
            }
            .line {
              width: 100%;
              height: 0.3px;
              background-color: white;
              margin-top: 5px;
              margin-bottom: 10px;
            }

            input[type="checkbox"] {
              background-color: green;
            }

            .editContainer {
              width: 100%;
              // background-color: blue;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;

              .lineBreak {
                width: 100%;
                height: 1px;
                background-color: white;
                margin-bottom: 10px;
                margin-top: 15px;
              }
            }
          }

          #commentsContainer {
            display: flex;
            flex-direction: column;
            width: 100%;

            .commentsBox {
              padding-top: 10px;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: start;
              gap: 27px;
              width: 99%;
              height: 65%;
              border: 1px solid white;
              overflow-y: scroll;
              border-radius: 4px;

              .comment {
                position: relative;
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 105px;
                min-height: 105px;
                gap: 2px;
                max-width: 750px;
                margin-bottom: -10px;
                // background-color: gray;

                .top {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  gap: 5px;
                  justify-content: start;
                  height: 30%;
                  width: 100%;
                  position: relative;
                  // background-color: rgba(0, 0, 0, 0.202);

                  a {
                    min-width: 130px;
                    width: 150px;
                    max-width: 350px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    padding-left: 3px;
                    gap: 5px;

                    .userPicture {
                      width: 25px;
                      height: 25px;
                      background-color: rgb(31, 31, 31);
                      border-radius: 5px;
                      border: 0.5px white solid;
                      margin-left: 2px;
                      // margin-bottom: -2px;

                      .commentPic {
                        width: 100%;
                        height: 100%;
                        border-radius: 5px;
                      }
                    }

                    .userName {
                      text-align: center;
                      font-size: 0.9rem;
                      font-weight: 600;
                      letter-spacing: 1px;
                    }

                    .commentVerified {
                      width: 20px;
                      margin-left: -4px;
                      filter: $blueAccentFILTER brightness(130%);
                    }
                  }

                  .timeAgoText {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    margin-right: 4px;
                    font-size: 0.9rem;
                    font-weight: 200;
                    letter-spacing: 1px;
                  }
                }
                .bottom {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  // background-color: blue;
                  height: 70%;
                  width: 100%;

                  .bubble {
                    width: 99%;
                    height: 100%;
                    border: 2px solid rgba(255, 255, 255, 0.749);
                    border-radius: 6px;
                    overflow-y: scroll;
                    padding-right: 5px;

                    .commentText {
                      font-size: 0.9rem;
                      font-weight: 400;
                      margin-left: 5px;
                      margin-top: 5px;
                      word-wrap: break-word;
                      letter-spacing: 1px;
                    }
                  }
                }
              }
            }
            .createCommentBox {
              width: 100%;
              height: 35%;

              display: flex;
              form {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-self: center;
                width: 100%;
                padding: 0;
                margin: 0;

                .commentTextInput {
                  background-color: rgba(255, 255, 255, 0.732);
                  resize: none;
                  width: 98%;
                  height: 70%;
                  font-family: "Alexandria", sans-serif;
                  font-size: 0.9rem;
                  font-weight: 400;
                  letter-spacing: 1px;
                  padding-left: 2px;
                  padding-right: 2px;
                  border-radius: 4px;
                  max-width: 500px;

                  &:focus,
                  &:active {
                    outline-color: $blueAccent;
                    // border: solid 2px $blueAccent;
                  }

                  &::placeholder {
                    opacity: 50%;
                  }
                }
                .commentSubmit {
                  cursor: pointer;
                  background-color: $blueAccent;
                  width: 100%;
                  height: 30%;
                  border-radius: 7px;
                  border: rgb(50, 117, 165) solid 3px;
                  color: white;
                  max-width: 500px;

                  &:hover {
                    filter: brightness(70%);
                  }

                  &:active {
                    filter: brightness(110%);
                  }
                }
              }

              .signInCommentBox {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                // background-color: green;

                p {
                  font-size: 0.9rem;
                }
              }
            }
          }
        }

        &:hover {
          opacity: 100%;
          animation: slowlyf;
        }
      }
      @keyframes slowlyFadeOut {
        0% {
          opacity: 100%;
        }
        30% {
          opacity: 80%;
        }
        100% {
          opacity: 10%;
        }
      }
      .info {
        opacity: 30%;
        background-color: rgba(0, 0, 0, 0.3%);
        backdrop-filter: blur(6px);
        -webkit-backdrop-filter: blur(6px);
        margin-left: 6px;
        margin-bottom: 30px;
        padding: 6px;
        border-radius: 3px;
        transition: opacity 0.5s;
        .sleepscapeTitle {
          font-size: 2rem;
        }
        .sleepscapeLocation {
          font-size: 1.4rem;
        }
        .sleepscapeDescription {
          font-size: 0.8rem;
        }

        &:hover {
          opacity: 100%;
        }
      }
    }

    .signUpPage {
      // background-color: red;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
    }

    .defaultForm {
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 5px;
      max-width: 750px;

      .inputContainer {
        // background-color: cyan;
        width: 100%;
        // height: 50px;
        .defaultLabel {
          // background-color: blue;
          font-size: 1.1rem;
          letter-spacing: 1px;
        }

        input[type="file"],
        input[type="text"],
        input[type="email"],
        input[type="password"] {
          width: 100%;
          height: 30px;
        }

        input[type="file"] {
          // background-color: purple;
          padding-top: 5px;
          font-size: 0.7rem;
          text-align: center;
        }

        input::file-selector-button {
          cursor: pointer;
          font-family: "Alexandria";
          font-size: 0.6rem;
          letter-spacing: 1px;
          font-weight: 300;
          background-color: $blueAccent;
          width: 100px;
          height: 30px;
          border-radius: 6px;
          border: 1px solid rgb(15, 72, 95);
          color: white;
          transition: scale 0.2s;

          &:hover {
            filter: brightness(80%);
            scale: 102%;
          }
        }

        input::file-selector-text {
          color: blue;
        }

        input[type="text"],
        input[type="email"],
        input[type="password"] {
          font-family: "Alexandria";
          margin-top: 5px;
          font-size: 1rem;
        }

        .checkBoxes {
          margin-top: 5px;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          padding-left: 3px;
          padding-right: 3px;
          color: black;
          background-color: white;
          height: 30px;
          border-radius: 2px;

          .box {
            display: flex;
            gap: 2px;
          }

          input[type="checkbox"] {
            background-color: green;
          }
        }
      }

      .defaultSubmit {
        cursor: pointer;
        width: 100%;
        height: 30px;
        border-radius: 6px;
        margin-top: 5px;
        border: 1px solid rgb(15, 72, 95);
        -webkit-border-radius: 5px;
        background-color: $blueAccent;
        transition: scale 0.2s;
        color: white;
        font-family: "Alexandria";
        letter-spacing: 2px;
        font-weight: 500;
        &:hover {
          filter: brightness(80%);
          scale: 103%;
        }
      }

      .defaultDelete {
        background-color: rgb(206, 52, 52);
      }

      .defaultLinks {
        color: $blueAccent;
        text-decoration: underline;
        font-size: 0.9rem;
        text-align: left;

        &:hover {
          text-decoration: none;
        }
      }
    }

    .signUpForm {
      // background-color: blue;
      margin-left: 30px;
    }

    footer {
      width: 100%;
      height: 60px;
      background-color: black;
    }
  }
}

@keyframes titleBarGrow {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.closeHeader {
  animation: closeHeader 0.6s;
}
.wideMain {
  animation: wideMain 0.6s;
}
.wideMainStats {
  width: 100%;
}
.smallMainStats {
  width: 70%;
}
.openHeader {
  animation: openHeader 0.6s;
}
.smallMain {
  animation: smallMain 0.6s;
}

@keyframes closeHeader {
  0% {
    // margin-left: 0%;
    translate: 0px 0%;
  }
  100% {
    // margin-left: -30%;
    translate: -100% 0px;
  }
}
@keyframes openHeader {
  0% {
    // margin-left: -30%;
    translate: -100% 0px;
  }
  100% {
    // margin-left: 0%;
    translate: 0% 0px;
  }
}
@keyframes wideMain {
  0% {
    width: 70%;
  }
  100% {
    width: 100%;
  }
}
@keyframes smallMain {
  0% {
    width: 100%;
  }
  100% {
    width: 70%;
  }
}

//COMPUTER SCREEN MEDIA QUERY
@media screen and (min-width: 1000px) {
  header {
    width: 20%;
  }
  main {
    width: 80%;
    .menuButton {
      margin-left: 0%;
    }

    .moveBtnStats {
      margin-left: 20%;
    }
  }

  .smallMainStats {
    width: 80%;
  }

  @keyframes closeHeader {
    0% {
      // margin-left: 0%;
      translate: 0% 0px;
    }
    100% {
      // margin-left: -20%;
      translate: -100% 0px;
    }
  }

  @keyframes openHeader {
    0% {
      // margin-left: -20%;
      translate: -100% 0px;
    }
    100% {
      // margin-left: 0%;
      translate: 0% 0px;
    }
  }
  @keyframes wideMain {
    0% {
      width: 80%;
    }
    100% {
      width: 100%;
    }
  }
  @keyframes smallMain {
    0% {
      width: 100%;
    }
    100% {
      width: 80%;
    }
  }

  @keyframes moveMenuBtnLeft {
    0% {
      margin-left: 20%;
      // translate: 0% 0px;
    }
    100% {
      margin-left: 0%;
      // translate: -10% 0px;
    }
  }
  @keyframes moveMenuBtnRight {
    0% {
      margin-left: 0%;
    }
    100% {
      margin-left: 20%;
    }
  }
}

.swup-transition-fade {
  transition: opacity 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}
