* {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

$darkBackground: rgb(18, 18, 18);
$lighterDarkBackground: rgb(44, 44, 44);

body {
  font-family: "Lato", sans-serif;
  height: 100vh;
  width: 100%;
  display: flex;
  background-color: $darkBackground;
  color: white;
  overflow: auto;
}

header,
main {
  transition: width 0.3s;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(43, 43, 43);
  width: 30%;
  height: 100%;
  overflow-x: scroll;
}

main {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  top: 0;
  background-color: gray;
  width: 70%;
  height: 100%;

  .menuButton {
    position: fixed;
    top: 0;
    margin-top: 10px;
    cursor: pointer;
    width: 23px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 7px 7px 0px;

    background-color: rgba(43, 43, 43, 0.41);
    backdrop-filter: blur(8px);
  }

  .sleepContainer {
    display: flex;
    padding-top: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: rgb(31, 31, 31);
    overflow-y: scroll;
  }
}

.closeHeader {
  animation: closeHeader 0.6s;
}
.wideMain {
  animation: wideMain 0.6s;
}
.wideMainStats {
  width: 100%;
}
.smallMainStats {
  width: 70%;
}
.openHeader {
  animation: openHeader 0.6s;
}
.smallMain {
  animation: smallMain 0.6s;
}

@keyframes closeHeader {
  0% {
    margin-left: 0%;
  }
  100% {
    margin-left: -30%;
  }
}
@keyframes openHeader {
  0% {
    margin-left: -30%;
  }
  100% {
    margin-left: 0%;
  }
}
@keyframes wideMain {
  0% {
    width: 70%;
  }
  100% {
    width: 100%;
  }
}
@keyframes smallMain {
  0% {
    width: 100%;
  }
  100% {
    width: 70%;
  }
}

//COMPUTER SCREEN MEDIA QUERY
@media screen and (min-width: 1000px) {
  header {
    width: 20%;
  }
  main {
    width: 80%;
  }

  @keyframes closeHeader {
    0% {
      margin-left: 0%;
    }
    100% {
      margin-left: -20%;
    }
  }

  @keyframes openHeader {
    0% {
      margin-left: -20%;
    }
    100% {
      margin-left: 0%;
    }
  }
}
